@media (min-width: 640px) {
  .container {
    max-width: 580px !important;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px !important;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 980px !important;
  }
}

@media (min-width:1280px) {
  .container {
    max-width: 1200px !important;
  }
}

@media (min-width:1536px) {
  .container {
    max-width: 1320px !important;
  }
}